<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="container-fluid px-5 py-5">
    <button class="test2" pButton type="button" (click)="showDialog()" icon="pi pi-plus" label="Add Employee"></button>
</div>


    <form  [formGroup]="form">
        <p-dialog class="dialog"  [(visible)]="display"  header="Product Details" [modal]="true"
            styleClass="p-fluid" [responsive]="true" >
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="name">Name</label>
                    <input formControlName="name" type="text" pInputText id="name" required />
                    <small class="text-danger p-invalid" *ngIf="!form.get('name')?.valid && form.get('name')?.touched">Name is
                        required.</small>
                </div>
                <div class="p-field class mt-3">
                    <label for="email">Email Address</label>
                    <input formControlName="email" type="email" pInputText id="email" required />
                    <small class="text-danger  p-invalid" *ngIf="!form.get('email')?.valid && form.get('email')?.touched">Incorrect
                        Email Syntax.</small>
                </div>
                <div class="p-field class mt-3">
                    <label for="mobile">Mobile</label>
                    <input formControlName="mobile" type="number" pInputText id="mobile" required />
                    <small class="text-danger p-invalid" *ngIf="!form.get('mobile')?.valid && form.get('mobile')?.touched">Mobile is
                        required.</small>
                </div>
                <div class="p-field class mt-3">
                    <label for="salary">Salary</label>
                    <input formControlName="salary" type="number" pInputText id="salary" required />
                    <small class="text-danger p-invalid" *ngIf="!form.get('salary')?.valid && form.get('salary')?.touched">Salary is
                        required.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button [disabled]="!form.valid" pButton pRipple label="Save" *ngIf="showAdd" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
                <button [disabled]="!form.valid" pButton pRipple label="Update" *ngIf="showUpdate" icon="pi pi-check" class="p-button-text"
                    (click)="updateEmployeeDetails()" ></button>
            </ng-template>

        </p-dialog>
    </form>


<div class="container-fluid px-5 mb-5">
    <p-table  class="table" #dt [value]="products" [rowHover]="true" dataKey="id" [paginator]="true" [rows]="5"
        [showCurrentPageReport]="true" [globalFilterFields]="['name']" responsiveLayout="stack"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,10,20]">
        <ng-template pTemplate="caption">
            <div class="test flex justify-content-between">
                <h5 class="m-0">Manage Products</h5>
                <button  type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success"  pTooltip="XLS" tooltipPosition="bottom"></button>
                
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">
           
            <tr>
                <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="mobile">Mobile <p-sortIcon field="mobile"></p-sortIcon>
                </th>
                <th pSortableColumn="salary">Salary <p-sortIcon field="salary"></p-sortIcon>
                </th>
                <th></th>

            </tr>
        
        </ng-template>
    
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.mobile}}</td>
                <td>{{customer.salary}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success"
                        (click)="onEdit(customer)"></button>
                    <button (click)="deleteEmployee(customer)" pButton pRipple icon="pi pi-trash" class="ms-2 p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <div>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </div>
    </p-table>
</div>